* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 82.02px;
    height: 25.35px;
    color: #ff5a5f;
    margin-left: 18px;
}

.photo-grid {
    display: block;
    width: 100%;
    max-width: 792px;
    height: auto;
    margin: 25px auto 32px auto;
    padding: 0 18px;
}

.title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    margin: 32px 18px 16px 18px;
}

.para {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #222222;
    max-width: 320px;
    margin: 16px 18px 49px 18px;
}

.cards-list {
    margin: 49px 18px 30px 18px;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 20px;
    gap: 18px;
}

.card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.photo-container {
    background-repeat: no-repeat;
    background-size: contain;
    width: 176px;
    height: 235px;
    border-radius: 9px;
    position: relative;
}

.badge {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 61px;
    height: 20px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 10.24px;
    line-height: 20px;
    background-color: white;
    text-align: center;
    color: #222222;
    margin: 0;
}

.star,
.rating,
.review-count,
.ellipse,
.country {
    margin: 0;
}

.rating,
.review-count,
.ellipse,
.country {
    display: inline;
}

.info {
    margin-top: 9px;
}

.star {
    width: 14px;
    height: 14px;
    border-radius: 0.5px;
    vertical-align: middle;
    border-radius: 0.5px;
}

.rating {
    margin-right: 2px;
    margin-left: 2px;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
}

.review-count {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #918e9b;
    margin: 0 2px;
}

.ellipse {
    margin: 0 2px;
    vertical-align: middle;
    width: 2px;
    height: 2px;
}

.country {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #918e9b;
    margin: 0 2px;
}

.description {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
    margin: 8px 0;
}

.price {
    margin: 0;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 12px;
    line-height: 110%;
    color: #222222;
}

.per {
    font-weight: 300;
}

@media (min-width: 636px) {
    .cards-list {
        overflow-x: visible;
        justify-content: space-around;
    }
}

@media (min-width: 813px) {
    .title,
    .para {
        text-align: center;
    }
    .para {
        margin: 0 auto;
    }
    .logo {
        box-sizing: content-box;
        padding: 0 18px 0 0;
        margin: 0 95% 0 5%;
    }
}

@media (min-height: 1012px) {
    .main {
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
